body{
	margin:0;
	padding:0;
	background: #F7F7F7;
	padding:0!important; 
}
h1{
	text-align: center;
}
.error{
	color:red;
	background: rgba(234,37,28,0.2);
	padding:5px;
	border-radius: 2px;
	text-align: center;
}
.successful{
	color:green;
	background: rgba(76,196,76, 0.2);
	padding:5px;
	border-radius: 2px;
	text-align: center;
}
#touch-menu{
	display: none;
	position: relative;
	z-index:500;
}
#large-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index:100;
}
.right{
	/*float:right;*/
	text-align: right;
}
.center{
	text-align: center;
}
#wrapper{
	width: 100%;
	min-height: 100vh;
	background: url(../images/fon3_max.png)top left no-repeat;
	background-size:100%; 
	overflow-x:hidden; 
	position: relative;
}
.header{
	height: 700px;
	position: relative;
	color:#fff;
}
canvas{
	width: 100vw!important
	height: 70vh!important;
}
.money{
	width: 700px;
	text-align: center;
	font-size: 12px;
	color:#fff;
	margin:0 auto;
	border-bottom:2px solid #9cd9f9;
	border-top:2px solid #6b869b;
	background: rgba(0,0,0,0.25);
	border-radius: 5px;
}
.Ñurrency{
	font-size: 10px;
	vertical-align: top;
	line-height: 160%;
	padding:0 15px;
	font-family:"Din Condensed";
}
.about{
	width: 100%;
}
.menu{
	margin-top:30px;
	width: 100%;
	position: relative;
	z-index:300;
}
.menu ul{
	margin:0;
	padding:0;
}
.menu ul li{
	list-style-type: none;
	display: inline-block;
	border-bottom:2px solid #9cd9f9;
	border-top:2px solid #6b869b;
	background: rgba(0,0,0,0.25);
	border-radius: 5px;
	padding:7px 2px;
	margin:25px 2px;
	width: 90px;
	text-align: center;
	transition: 0.2s;
}
.menu ul a{
	text-decoration: none;
	color:#fff;
}
.menu ul li:hover{
	cursor:pointer!important;
	padding:3px 2px;
	border-bottom:2px solid #afe0fa;
	border-top:2px solid #afe0fa;
	background: rgba(0,0,0,0.55);
	transition: 0.2s;
}
.logo img{
	margin-top:25px;
	height: 95px;
}
.basicBox{
  width: 120px;
  height: 50px;
  margin-top: 48px;
  margin-left:20px;
  color: #fff;
  letter-spacing: 2px;
  display: inline-block;
  background: rgba(0,0,0,0.3);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.15rem;
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  z-index: 300;
  cursor: pointer;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}
svg rect, svg path, svg polyline {
  fill: none;
  stroke: #9cd9f9;
  stroke-width: 2;
}

.basicBox:hover svg rect, .swiggleBox:hover svg path, .checkBox:hover svg polyline {
  stroke: #9cd9f9;
}

/* Basic Box */
svg rect {
  stroke-dasharray: 400, 0;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
}
.basicBox:hover svg rect {
  stroke-width: 3;
  stroke-dasharray: 35, 215;
  stroke-dashoffset: 38;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
}
.lang .menu{
	display: inline-block;
	width: auto;
	float:left;
}
.lang .menu img{
	height: 25px;
}
.lang .menu ul li{
	width: 45px;
	padding:4px 0px; 
}
.lang .menu ul li:hover{
	padding:1px 0px; 
}
.activ_lang{
	background: #000!important;
	padding:0!important;
}
.phrase{
	margin-top:80px;
	float:left;
	/*margin-left:50px;*/
	border-bottom:2px solid #9cd9f9;
	/*border-top:2px solid #6b869b;*/
	background: rgba(0,0,0,0.25);
	border-radius: 0 0 5px 5px;
	padding:7px 5px;
	width: 625px;
	font-size: 40px;
	text-align: center;
}
.news{
	float:right;
	margin-top:80px;
	width: 295px;
	min-height: 450px;
	background: rgba(0,0,0,0.25);
	border-radius: 0 0 5px 5px;
	padding:7px 5px;
	border-bottom:10px solid #9cd9f9;
	position: relative;
	z-index:300;
}
.news h2{
	text-align: center;
	margin:5px;
	padding-bottom:5px;
	border-bottom:2px solid #9cd9f9;
}
.news_block{
	overflow: auto;
	margin:5px;
}
.news_block h4{
	color:#9cd9f9;
	margin:5px;
	font-size: 14px;
	overflow:auto; 
}
.news_text{
	background: rgba(0,0,0,0.55);
	padding:7px;
	height: 65px;
	font-size: 12px;
	border-radius:2px;
	overflow: hidden;
	-webkit-column-width: 150px;
    -moz-column-width: 150px;
    column-width: 150px;
    font-style: italic;
}
.news_date{
	float:right;
	line-height: 200%;
	font-size: 10px;
	font-style: italic;
}
.about{
	
}
.name_about{
	position: absolute;
	z-index:300;
	top:-100px;
	left:-40px;
	font-size: 26px;
	margin:0;
}
.about_text{
	width: 50%;
	font-size: 18px;
}
.about_all_text{
	position: absolute;
	z-index:300;
	top:-30px;
	left:0px;
}
.document{
	float:right;
	height: 220px;
	margin-top:20px;
	margin-right:65px;
	box-shadow: 0 0 3px #000;
	position: relative;
	z-index:500;
}
.document:hover{
	cursor:pointer;
}
.button{
	width: 325px;
	background: transparent;
	color:#4274D3;
	font-weight: 600;
	font-size: 18px;
	margin-left:0;
}
.button:hover svg rect, .button:hover svg polyline {
  stroke: #4274D3;
}

.button svg rect, .button svg polyline {
  stroke: #4274D3;
  stroke-width: 4;

}
.reg_button{
	text-align: center;
	margin-top:50px;
}
.button:hover svg rect {
  stroke-width: 3;
  stroke-dasharray: 35, 320;
  stroke-dashoffset: 38;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
}
.marquee-wrapper {
	/*width: 680px;*/
	/*margin:0 auto;*/
	overflow: hidden;
 	position: relative;
}

.marquee-wrapper:after {
  position: absolute;
  content: ' ';
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
  /*background-image: linear-gradient(to right, transparent, rgba(0,0,0,0.55));*/
}

.marquee {
	padding:2px;
	margin:0;
  white-space: nowrap;
}
.profit{
	margin-top:80px;
	border-top:10px solid #9cd9f9;
	border-bottom:10px solid #9cd9f9;
	background: url(../images/profit.jpg) bottom center no-repeat;
	background-size: cover; 
	color:#fff;
}
.why{
	margin-top:80px;
	text-align: center;
	line-height: 200%;
	color:#fff;
	font-weight: 600;
}
.arrow{
	margin-top:50px;
	margin-left:40px;
}
.number_why{
	display: inline-block;
	margin-left:30px;
	vertical-align: top;
}
.number_why img{
	height: 45px;
}
.description{
	display: inline-block;
	width: 80%;
    border-bottom: 2px solid #9cd9f9;
    background: rgba(0,0,0,0.25);
    border-radius: 0 0 5px 5px;
    padding: 7px 5px;
    /*margin-top:25px;*/
    font-size: 18px;
    margin-left:20px;
}
.number_why h1{
	font-weight: 600;
	font-size: 50px;
}
.text_why{
	margin-top:25px;
}
.method{
	margin-top:60px;
	/*min-height: 1000px;*/
	position: relative;
}
.method h1{
	font-size: 26px;
	margin-bottom:40px;
}
.method p{
	font-size: 18px;
}
.all_circle{
	overflow: auto;
	margin: 40px 0px;
	width: 100%;
	text-align: center;
}
.circle{
	position: relative;
	overflow: auto;
	width: 150px;
	height: 150px;
	display: inline-block;
	margin: 0 15px 0 15px;
}
.circle_text{
	position: absolute;
	/*top:55px;*/
	top:0;
	padding: 3em 0;
	display: inline-block;
	width: 100%;
	left:0;
	text-align: center;
	font-size: 16px;
	color:#5d8295;
	font-weight: 600;
}
.circle svg:hover{
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg); 
	-o-transform: rotate(180deg); 
}
.invest_button{
	margin-top:20px;
	margin-left:0;
}
.referal{
	margin-top:80px;
	min-height: 600px;
	background: url(../images/refer.png)center top no-repeat;
	border-bottom:10px solid #9cd9f9;
	/*background-size: 50%; */
}
.name_referal{
	text-align: center;
}
.referal h3{
	text-align: center;
	margin:20px;
	font-style: italic;
	font-size: 18px;
}
.left_referal{
	color:#fff;
	font-size: 18px;
	width: 80%;
	margin:70px auto 60px auto;
	line-height: 160%;
}
.level_referal{
	width: 700px;
	text-align: center;
	margin:25px auto;
	color:#fff;
	font-size: 18px;
}
.level_referal span{
	font-size: 40px;
}
.level_referal img{
	height: 60px;
	margin-right:20px;
}
.risk{
	margin-top:80px;
	
}
.risk h1{
	margin-bottom:40px;
}
.risk p{
	font-size: 18px;
}
.footer{
	margin-top:80px;
	min-height: 160px;
	background: url(../images/footer.png);
	border-top:10px solid #9cd9f9;
}
.pl_system{
	float:right;
	height: 35px;
	max-width: 78px;
	background: rgba(0,0,0,0.25);
	border-radius: 4px;
	padding:5px;
	margin-top:52px;
	margin-right:15px;
}
.pl_system.bottoms {
	margin-top: 20px;
}
.footer_prava{
	font-size: 10px;
	color:#9cd9f9;
	margin-bottom:5px;
	margin-top:10px;
	text-align:center;
}
.btn{

}
.btn-primary{
	font-size: 28px;
	border:1px solid;
	color: #fff;
	width: 60px;
	background: rgba(0,0,0,0.3);
	border:1px solid #9cd9f9;
	margin-top:48px;
}
.reg500{
	display: none;
}
.page_content{
	min-height: calc(100vh - 440px);
}
.page_content .container{
	background: #F7F7F7;
	margin-top:50px;
	min-height: 534px;
	border:1px solid #000;
	box-shadow: 0 0 5px #000;
	border-radius: 2px;
}
.page_content h1{
	color:rgb(51, 51, 51);
}
.page_title{
	margin:20px auto;
}
.block_news{
	margin: 40px 20px;
}
.block_news h3{

}
.date{
	float:right;
	font-size: 12px;
	margin-left:10px;
}
.block_news p{
	text-indent: 20px;
	font-size: 18px;
}
.text_news{
	padding:15px 5px 5px 5px;
	border-radius: 2px;
	background: rgba(0,0,0,0.07);
	width: 95%;
	margin:0 auto;
	font-size: 18px;
	overflow: auto;
	text-indent: 20px;
}
.pagination{
	/*margin:0 auto;*/
	text-align: center;
}
.page{
	text-align: center;
}
.pagination>li>a, .pagination>li>span{
	background: rgba(0,0,0,0.07);
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
	background:  #4673ae;
}
.page_content form{
	font-size: 18px;
}
.form-button{
	background: #337ab7;
	color:#fff;
	font-size: 18px;
	transition: 0.5s;
}
.form-button:hover{
	background: #354046;
	color:#fff;
	transition: 0.5s;
}
form label{
	font-weight: 400;
}
.bottom_otstup{
	margin-bottom:30px;
	margin-top:20px;
}
.page_title span{
	padding:0px 30px;
	border-radius: 5px;
	border-left:3px solid #000;
	border-right:3px solid #000;
}
.panel-title{
	font-size: 18px;
}
.statistic{
	margin-top:80px;
}
.stat{
	margin:10px;
	text-align: center;
	height: 190px;
	padding-top:20px;
	font-size: 22px;
	color:#fff;
	border-radius: 2px;
	border:10px solid #9cd9f9;
	background: url(../images/footer.png);
}
.stat img{
	height: 70px;
}
.stat span{
	font-size: 32px;
}
.mini_stat{
	margin:20px;
	height: 170px;
}
.marketing{
	font-size: 18px;
}
.tarif{
	margin-top:30px;
	text-align: center;
	/*background: #1ab188;*/
	height: auto;
	overflow: auto;
	border-radius: 2px;
	border:5px solid #1ab188;
	box-shadow: 0 0 10px #86aba1;
}
.tarif h4{
	margin:35px 0px;
	/*border-left:5px solid #1ab188;
	border-right:5px solid #1ab188;*/
}
.tarif h4:last-child{
	/*border-bottom:5px solid #1ab188;*/
}
.tarif h3{
	background: #1ab188;
	margin:0;
	padding:20px;
	color:#fff;
}
.line_tarif, .line_tarif2{
	width: 65%;
	height: 2px;
	border-bottom:1px solid #1ab188;
	margin:0 auto;
}
.line_tarif2{
	width: 80%;
}
.orang_tarif{
	border:5px solid #f24e06;
	box-shadow: 0 0 10px #f8a682;
}
.orang_tarif h3{
	background: #f24e06;
}
.orang_tarif .line_tarif{
	border-bottom:1px solid #f24e06;
}
.orang_tarif .line_tarif2{
	border-bottom:1px solid #f24e06;
}
.red_tarif{
	border:5px solid #ff0000;
	box-shadow: 0 0 10px #ff7f7f;
}
.red_tarif h3{
	background: #ff0000;
}
.red_tarif .line_tarif{
	border-bottom:1px solid #ff0000;
}
.red_tarif .line_tarif2{
	border-bottom:1px solid #ff0000;
}
.calc-invest{
	width: 400px;
	margin:0 auto;
	text-align: center;
	background: #fff;
	border: 1px solid  #ddd;
	padding:15px 10px;
}
.calc-invest input{
	width: 70%;
	border:2px solid #ddd;
	border-radius: 2px;
	padding:5px;
}
.calc-invest select{
	border:none;
	cursor:pointer;
}
.calc-invest p{
	margin-top:20px;
}
#f1{
	border:none;
	margin:15px auto;
	width: 50%;
}
.panel-title a{
	cursor:pointer;
}
.partner_ref{
	line-height: 250%;
}
.partner_ref img{
	height: 25px;
}
.img_bonus{
	width: 30%;
	margin:20px 20px 0 20px;
}
.bonus{
	margin-top:15px;
	text-align:center;
}
.bonus_button{
	margin-top:0px;
	margin-bottom:40px;
}
.marketing .error{
	margin-bottom:20px;
}
.marketing .button{
	width: 300px!important;
}
.mini_lang{
	display: none!important;
}
.lang1200{
	display: none;
}
.plat{
	text-align: center;
}
.plat img{
	margin:10px auto;
	width: 100%;
	height: 75px;
	padding:5px;
	border:5px solid #9cd9f9;
	background-color: #545363;
	min-width: 145px;
	max-width: 160px;
}
