body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
}
.bg-gradient {
    position: fixed;
    width: 1000px;
    height: 1000px;
    top: 50%;
    left: 50%;
    z-index: -1;
    margin: -500px 0 0 -500px;
    background: url('../assets/img/bg-gradient.png') no-repeat center;
}

#CDT {
    font-size: 40px;
    color: #fff;
    margin: 20px 0 40px;
    font-weight: bold;
}
@media (max-width: 1260px) {
    #CDT {
    font-size: 36px;
    color: #fff;
    margin: 20px 0 40px;
    font-weight: bold;
}
}
@media (max-width: 800px) {
    #CDT {
    font-size: 24px;
    color: #fff;
    margin: 20px 0 40px;
    font-weight: bold;
}
}
@media (max-width: 600px) {
    #CDT {
    font-size: 24px;
    color: #fff;
    margin: 20px 0 40px;
    font-weight: bold;
}
}
@media (max-width: 400px) {
    #CDT {
    font-size: 18px;
    color: #fff;
    margin: 20px 0 40px;
    font-weight: bold;
}
}
#CDT .number-wrapper {
    margin: 10px;
    -moz-box-shadow: 0 5px 8px #000000;
    -webkit-box-shadow: 0 5px 8px #000000;
    box-shadow: 0 5px 8px #000000;
    position: relative;
}

#CDT .number {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background: #000;
    background-image: linear-gradient(bottom, #000000 2%, #3c3c3c 50%, #000000 100%);
    background-image: -o-linear-gradient(bottom, #000000 2%, #3c3c3c 50%, #000000 100%);
    background-image: -moz-linear-gradient(bottom, #000000 2%, #3c3c3c 50%, #000000 100%);
    background-image: -webkit-linear-gradient(bottom, #000000 2%, #3c3c3c 50%, #000000 100%);
    background-image: -ms-linear-gradient(bottom, #000000 2%, #3c3c3c 50%, #000000 100%);
    -webkit-border-top-right-radius: 7px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 0 12px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border: 1px solid #555;
    -moz-box-shadow: inset 0 4px 0 rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: inset 0 4px 0 rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 4px 0 rgba(255, 255, 255, 0.2);
    -moz-text-shadow: 0 3px 3px #000000;
    -webkit-text-shadow: 0 3px 3px #000000;
    text-shadow: 0 3px 3px #000000;
}
       
#CDT .line {
    position: absolute;
    width: 100%;
    height: 1px;
    top: 52%;
    left: 0;
    background: #000;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}
       
.caption {
   font-size: 12px;
   position: absolute;
   bottom: -30px;
   left: 0;
   text-align: center;
   width: 100%;
   color: #000;
}
.widsto {
    width: 100%;
}

.block-rez {
    padding: 15px 0px; 
    height: 114px;
    background-color: rgba(60,141,188,0.7);
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
    border-radius: 8px;
    margin-bottom: 15px;
}

.block-rez-img {
    background: url(/assets/img/bitcoin.png) no-repeat 50%;
    background-size: contain;
    height: 84px;

}

.block-rez-h4 {
    font-size: 21px;
    margin-top: 0px;
    color: #fff;
    font-weight: 600;
}

.block-rez-p {
    font-size: 15px;
    margin-top: 0px;
    color: #fff;
    font-weight: 600;
}

.block-rez-img1 {
    background: url(/assets/img/bitcoin.png) no-repeat 50%;
    background-size: contain;
    height: 84px;
    margin-left: 10px;
    margin-right: -10px;
}

.block-rez-img2 {
    background: url(/assets/img/ethereum.png) no-repeat 50%;
    background-size: contain;
    height: 84px;
    margin-left: 10px;
    margin-right: -10px;
}
.block-rez-img3 {
    background: url(/assets/img/litecoin.png) no-repeat 50%;
    background-size: contain;
    height: 84px;
    margin-left: 10px;
    margin-right: -10px;
}
.block-rez-img4 {
    background: url(/assets/img/dash.png) no-repeat 50%;
    background-size: contain;
    height: 84px;
    margin-left: 10px;
    margin-right: -10px;
}
.block-rez-img5 {
    background: url(/assets/img/BitcoinCash.png) no-repeat 50%;
    background-size: contain;
    height: 84px;
    margin-left: 10px;
    margin-right: -10px;
}
.block-rez-img6 {
    background: url(/assets/img/token.png) no-repeat 50%;
    background-size: contain;
    height: 84px;
    margin-left: 10px;
    margin-right: -10px;
}

.nav-tabs-custom>.nav-tabs.pull-right>li {
    float: left;
}

.box-footer {
    padding: 6px;
}

.bg-blue2-gradient {
    background: #3c8dbc !important;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #3c8dbc), color-stop(1, #70abcd)) !important;
    background: -ms-linear-gradient(bottom, #00a65a, #00ca6d) !important;
    background: -moz-linear-gradient(center bottom, #00a65a 0, #00ca6d 100%) !important;
    background: -o-linear-gradient(#00ca6d, #00a65a) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ca6d', endColorstr='#00a65a', GradientType=0) !important;
    color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 8px;
}

.feed1 {
    max-width: 100%;
    margin: 20px 30px;
    padding: 5px;
    border: 1px solid #095582;
    border-radius: 20px;
}

.feed-news {
    padding: 15px;
}

.box-header1 {
    color: #fff;
    display: block;
    padding: 10px;
    position: relative;
}

.box-tit {
    margin: 0 0 0 5px;
}

.fa-credit-card:before {
    content: "\F09D";
}

.fa-group:before, .fa-users:before {
    content: "\F0C0";
}

.fa-cogs:before, .fa-gears:before {
    content: "\F085";
}

.fa-comments:before {
    content: "\F086";
}

.fa-list-alt:before {
    content: "\F022";
}

.kurs {
    padding: 15px;
    color: #fff;
    text-align: right;
    margin:0;
}
.kurs2 {
    padding: 15px;
    color: #fff;
    text-align: left;
    margin:0;
}

.navbar-nav>.user-menu>.dropdown-menu {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 1px 0 0 0;
    border-top-width: 0;
    width: 100%;
    background-color: #70abcd;
}

.navbar-nav>.user-menu .user-image {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: -15px;
    margin-right: 10px;
    
}

.main-header .navbar-custom-menu {
    float: left;
}

.li-drd {
    padding-left: 0px;
}

.li-drd a{
    margin: 0px;
    color: #fff;
}

.navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
    position: absolute;
    right: auto;
    left: auto;
}

.dropdown-menu>li>a {
    color: #fff;
}

.table-dash {
    padding: 10px 15px;
}


/*.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #4e85a5;
}*/

div.scroll-table {
  width: 100%;
  overflow: auto;
  height: 600px;
}


.scroll-table>table tbody {
  height: 240px;
  overflow: auto;
  overflow-x: hidden;
}

.skin-blue .sidebar-menu .treeview-menu>li.active>a, .skin-blue .sidebar-menu .treeview-menu>li>a:active {
    color: #fff;
}
.i-finecoin, .i-FineCoinGold {
    display: inline-block;
    vertical-align: middle;
}
.i-finecoin {
    background: url(/assets/img/finecoin.png) no-repeat 50%;
    background-size: contain;
    width: 80px;
    height: 80px;
}

.nav-tabs-custom>.tab-content {
    background: rgba(0,0,0,0);
    padding: 10px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.skin-blue .main-header .navbar .sidebar-toggle {
    background: #498af2; 
}

/*.btn:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}*/

@media (max-width: 992px) {
    .otstwal {
        padding-left: 100px;
    }
}

@media (max-width: 767px) {
    .otstwal {
        padding-left: 30px;
    }
    .otstwal2 {
        padding-left: 30px;
    }
}
.i-ethereum, .i-face {
    display: inline-block;
    vertical-align: middle;
    width: 80px;
    height: 80px;
}
.i-bitcoin, .i-dollar {
    display: inline-block;
    vertical-align: middle;
    width: 80px;
    height: 80px;
}
.i-bitcoin {
    background: url(/assets/img/bitcoin.png) no-repeat 50%;
    background-size: contain;
}

.i-ethereum {
    background: url(/assets/img/ethereum.png) no-repeat 50%;
    background-size: contain;
}

.referr {
    margin:0;
    padding: 15px;
}
.referr p{
    margin:0;
    font-size: 18px;
    
}

.color-ch {
    color: #000;
}
.g-recaptcha {
    width: 35%;
    margin: 2% auto;
}
.mini-ref{
    display: none;
}

@media (max-width: 400px){
    .table_scroll_adap {
        overflow-x: scroll;
    }
    .mar_bot_adap {
        margin-bottom: 5%;
    }
    .g-recaptcha {
        width: 100%;
    }
    .mini-ref span{
        display: block;
        text-align: center;
    }
}
/*26.02.2018*/
@media (max-width: 1180px){
    .info-box-icon{
        float:none;
        width: 100%;
    }
    .info-box-icon>img {
        max-height: 80px!important;
        object-fit: cover;
    }
    .info-box-content {
        margin-left: 0px;
        text-align: center;
    }
}
@media (max-width: 768px){
    #log_img_head {
        display: inline;
        float: none;
        height: 70%!important;
        object-fit: cover;
        width: auto!important;
        margin-top: 0;
    }
    .box-body{
        overflow-x: scroll;
    }
    .g-recaptcha {
        width: auto; 
        margin: 20px 0;
        float:right;
    }
    .ban_code textarea{
        width: 98%!important;
        height: 100px;
        font-size: 12px;
        word-wrap: break-word;
    }
    .ban_code img{
        width: 98%!important;
        object-fit: cover;
    }
}

@media (max-width: 992px) {
    .max992 {
        width: 100% !important;
    }
    .mini-ref{
        display: block!important;
        float:none!important;
        margin: 15px auto!important;
        color: #000!important;
        text-align: center!important;
        font-size: 18px!important;
    }
}
